In [25]:
import csv
import pandas as pd

In [26]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [27]:
! ls

Untitled.ipynb                      tweets.csv
get-tweets-from-html-files.ipynb    tweets1.csv
sentiment-analysis-tweet-data.ipynb tweets_data.csv
tweet-data

In [28]:
tweet_data=pd.read_csv('tweets_data.csv', encoding='latin1')
tweet_data.head()

     Date                                              Tweet
0  14-Apr  It's not just our prices that hit you in the f...
1  14-Apr  Be prepared - if you cannot avoid flying\r    ...
2  17-Jul  Relaxing New England is now closer than ever w...
3  14-Apr  Delta approves offers of up to $10,000 to flye...
4  14-Apr  Wow! Doctors dragged down aisles, fake police,...

In [52]:
# do a value counts by date right here with the tweet_data dataframe

tweet_data["Date"].value_counts(sort=True)

27-Mar    520
14-Apr    385
22-Jan    155
11-May    150
28-Mar    145
28-Apr    140
12-May    100
21-May    100
22-Jun    100
3-Jan      80
29-Apr     75
13-Feb     75
19-Jun     75
8-Feb      75
14-May     70
2-Mar      70
2-Jan      70
20-Jun     65
10-Jan     65
23-Jun     65
22-May     65
21-Jun     65
14-Jun     65
13-May     65
8-Jun      60
3-Jun      60
23-May     60
23-Jan     60
28-Jun     55
27-Jan     55
         ...
4-Jun      25
2-Jun      20
20-Jan     20
12-Feb     20
13-Jan     20
24-Jan     20
3-Feb      20
14-Mar     20
18-Jan     20
31-Dec     20
17-Jul     20
28-Jan     20
25-Feb     20
2-Feb      20
31-Jan     15
25-Jan     15
6-Jan      15
23-Feb     15
29-May     15
24-Feb     15
6-Mar      15
28-Feb     15
11-Mar     10
26-Jan     10
1-Feb      10
19-Feb     10
1-Jun       5
6-Feb       5
15-Jun      5
4-Feb       5
Name: Date, Length: 120, dtype: int64

In [38]:
sum_tweet_compounds = 0.0
len_tweet_compounds = len(tweet_data['Tweet'])
error_count = 0
for tweet in tweet_data['Tweet']:
    try:
        sum_tweet_compounds = sum_tweet_compounds + analyzer.polarity_scores(tweet)['compound']
    except:
        error_count = error_count + 1
mean_compound_score = sum_tweet_compounds/(len_tweet_compounds-error_count)

In [41]:
len_tweet_compounds

6065

In [39]:
sum_tweet_compounds

109.09699999999972

In [40]:
error_count

50

In [42]:
mean_compound_score

0.018137489609310012

In [ ]:
# make a dictionary
# loop over the data 
# if we spot a date, check if it's in the dictionary, if not then put it in 
# and add the compound score to the value at that point in the dictionary
# if it is, then just add the value tothat point in the dictionary

In [ ]:
# # test
# tweet_comp_date_dict = {}

# if tweet_comp_date_dict.get('a') == None:
#     tweet_comp_date_dict['a'] = 0

# tweet_comp_date_dict

In [108]:
tweet_comp_sum_per_date_dict = {}
tweet_count_per_date_dict = {}
error_count = 0
for tweet_ob in tweet_data.iterrows():
    try:
        date = tweet_ob[1]['Date']
        tweet = tweet_ob[1]['Tweet']
        # print(date)
        # print(tweet)
        comp = analyzer.polarity_scores(tweet)['compound']
        # print(comp)
        if tweet_comp_sum_per_date_dict.get(date) == None:
            tweet_comp_sum_per_date_dict[date] = comp
            tweet_count_per_date_dict[date] = 1
        else:
            tweet_comp_sum_per_date_dict[date] = tweet_comp_sum_per_date_dict[date] + comp
            tweet_count_per_date_dict[date] = tweet_count_per_date_dict[date]+1
    except:
        error_count = error_count + 1

In [99]:
error_count

50

In [100]:
tweet_count_per_date_dict

{'1-Feb': 10,
 '1-Jan': 40,
 '1-Jun': 5,
 '1-Mar': 40,
 '10-Feb': 40,
 '10-Jan': 65,
 '10-Jun': 50,
 '10-Mar': 25,
 '11-Feb': 40,
 '11-Jan': 50,
 '11-Jun': 50,
 '11-Mar': 10,
 '11-May': 150,
 '12-Feb': 20,
 '12-Jan': 35,
 '12-Jun': 50,
 '12-Mar': 35,
 '12-May': 95,
 '13-Feb': 75,
 '13-Jan': 20,
 '13-Jun': 50,
 '13-Mar': 35,
 '13-May': 60,
 '14-Apr': 385,
 '14-Jan': 25,
 '14-Jun': 65,
 '14-Mar': 20,
 '14-May': 70,
 '15-Jun': 5,
 '16-Feb': 45,
 '16-Jun': 50,
 '17-Feb': 30,
 '17-Jan': 40,
 '17-Jul': 20,
 '17-Jun': 45,
 '18-Feb': 30,
 '18-Jan': 20,
 '18-Jun': 45,
 '18-May': 55,
 '19-Feb': 10,
 '19-Jan': 25,
 '19-Jun': 75,
 '19-May': 55,
 '2-Feb': 20,
 '2-Jan': 70,
 '2-Jun': 20,
 '2-Mar': 70,
 '20-Feb': 25,
 '20-Jan': 20,
 '20-Jun': 65,
 '20-May': 50,
 '21-Feb': 25,
 '21-Jan': 50,
 '21-Jun': 65,
 '21-May': 100,
 '22-Feb': 25,
 '22-Jan': 145,
 '22-Jun': 95,
 '22-May': 65,
 '23-Feb': 15,
 '23-Jan': 60,
 '23-Jun': 65,
 '23-May': 60,
 '24-Feb': 15,
 '24-Jan': 20,
 '24-Jun': 45,
 '24-May': 50,
 '25-Feb': 20,
 '25-Jan': 15,
 '25-Jun': 40,
 '25-May': 50,
 '26-Feb': 40,
 '26-Jan': 10,
 '26-Jun': 50,
 '26-May': 50,
 '27-Feb': 25,
 '27-Jan': 55,
 '27-Jun': 35,
 '27-Mar': 515,
 '27-May': 55,
 '28-Apr': 140,
 '28-Feb': 15,
 '28-Jan': 20,
 '28-Jun': 55,
 '28-Mar': 145,
 '28-May': 50,
 '29-Apr': 75,
 '29-Jun': 45,
 '29-Mar': 30,
 '29-May': 15,
 '3-Feb': 20,
 '3-Jan': 80,
 '3-Jun': 60,
 '3-Mar': 40,
 '31-Dec': 20,
 '31-Jan': 15,
 '4-Feb': 5,
 '4-Jan': 45,
 '4-Jun': 25,
 '4-Mar': 45,
 '5-Feb': 35,
 '5-Jan': 40,
 '5-Jun': 35,
 '5-Mar': 25,
 '6-Feb': 5,
 '6-Jan': 15,
 '6-Jun': 45,
 '6-Mar': 15,
 '7-Feb': 30,
 '7-Jan': 40,
 '7-Jun': 50,
 '7-Mar': 45,
 '8-Feb': 75,
 '8-Jan': 30,
 '8-Jun': 60,
 '8-Mar': 30,
 '9-Feb': 25,
 '9-Jan': 35,
 '9-Jun': 35,
 '9-Mar': 35}

In [101]:
tweet_comp_sum_per_date_dict

{'1-Feb': 2.1399999999999997,
 '1-Jan': 0.8729999999999993,
 '1-Jun': 0.0,
 '1-Mar': 8.4055,
 '10-Feb': -1.1580000000000004,
 '10-Jan': -3.0980000000000003,
 '10-Jun': 17.388999999999996,
 '10-Mar': 5.4515,
 '11-Feb': 12.8685,
 '11-Jan': -8.6155,
 '11-Jun': -4.308499999999999,
 '11-Mar': 3.348,
 '11-May': -13.754500000000004,
 '12-Feb': 0.4074999999999998,
 '12-Jan': 3.2485000000000004,
 '12-Jun': 6.68,
 '12-Mar': 4.136500000000001,
 '12-May': -13.853499999999997,
 '13-Feb': -21.425,
 '13-Jan': 1.9985000000000004,
 '13-Jun': -4.445,
 '13-Mar': -7.280500000000002,
 '13-May': -9.6445,
 '14-Apr': 13.319000000000008,
 '14-Jan': 4.556,
 '14-Jun': -2.0949999999999998,
 '14-Mar': 1.9529999999999998,
 '14-May': 16.042999999999996,
 '15-Jun': -2.9915000000000003,
 '16-Feb': 14.713000000000006,
 '16-Jun': -7.268499999999999,
 '17-Feb': 1.3999999999999995,
 '17-Jan': 2.2654999999999985,
 '17-Jul': 9.878,
 '17-Jun': 10.745500000000002,
 '18-Feb': -3.212000000000001,
 '18-Jan': -4.131999999999998,
 '18-Jun': -2.2014999999999993,
 '18-May': -20.998500000000003,
 '19-Feb': -4.189500000000001,
 '19-Jan': 7.488000000000002,
 '19-Jun': -6.295000000000003,
 '19-May': 7.5115,
 '2-Feb': 3.5795,
 '2-Jan': 1.6550000000000011,
 '2-Jun': 0.5080000000000001,
 '2-Mar': -0.2744999999999983,
 '20-Feb': 5.2555,
 '20-Jan': -3.1095,
 '20-Jun': -1.554500000000001,
 '20-May': 18.2015,
 '21-Feb': 0.46250000000000013,
 '21-Jan': 10.366500000000004,
 '21-Jun': 10.283000000000001,
 '21-May': -3.395000000000001,
 '22-Feb': -2.3729999999999993,
 '22-Jan': 8.161500000000004,
 '22-Jun': -10.465,
 '22-May': -8.181999999999999,
 '23-Feb': -4.044,
 '23-Jan': -3.123500000000001,
 '23-Jun': 11.032499999999994,
 '23-May': -2.072,
 '24-Feb': 2.1009999999999995,
 '24-Jan': 5.104500000000001,
 '24-Jun': -4.952999999999999,
 '24-May': 3.511000000000001,
 '25-Feb': -1.626,
 '25-Jan': -1.4425,
 '25-Jun': 7.774499999999997,
 '25-May': 6.523500000000001,
 '26-Feb': 8.984000000000002,
 '26-Jan': 1.5859999999999999,
 '26-Jun': 8.6135,
 '26-May': -1.1444999999999987,
 '27-Feb': 6.0335,
 '27-Jan': 15.823,
 '27-Jun': 9.240499999999997,
 '27-Mar': 22.39350000000003,
 '27-May': 0.6294999999999997,
 '28-Apr': -13.9425,
 '28-Feb': 0.7519999999999999,
 '28-Jan': -1.25,
 '28-Jun': 10.457499999999998,
 '28-Mar': 14.381499999999988,
 '28-May': 2.781999999999999,
 '29-Apr': -7.838500000000002,
 '29-Jun': -8.7705,
 '29-Mar': 1.7525000000000008,
 '29-May': 2.3100000000000005,
 '3-Feb': 0.07099999999999995,
 '3-Jan': -3.4165000000000005,
 '3-Jun': 1.6389999999999993,
 '3-Mar': 14.133,
 '31-Dec': -1.6345,
 '31-Jan': -2.4869999999999997,
 '4-Feb': 3.4539999999999997,
 '4-Jan': 4.108,
 '4-Jun': -5.500000000000001,
 '4-Mar': 6.500499999999999,
 '5-Feb': 3.8390000000000013,
 '5-Jan': 0.027999999999999692,
 '5-Jun': -3.013499999999999,
 '5-Mar': 1.6890000000000007,
 '6-Feb': -0.8895,
 '6-Jan': -6.6535,
 '6-Jun': 0.516,
 '6-Mar': 0.055499999999999994,
 '7-Feb': 1.1104999999999998,
 '7-Jan': 0.9275,
 '7-Jun': -7.370000000000001,
 '7-Mar': -1.8545000000000007,
 '8-Feb': -16.811000000000003,
 '8-Jan': 4.188,
 '8-Jun': -13.803,
 '8-Mar': 5.051500000000001,
 '9-Feb': -0.8595000000000006,
 '9-Jan': -7.021500000000003,
 '9-Jun': -4.6615,
 '9-Mar': 1.2110000000000003}

In [106]:
tweet_comp_mean_per_date_dict = {}

for date in tweet_comp_sum_per_date_dict:
    if tweet_comp_mean_per_date_dict.get(date) == None:
        summ = tweet_comp_sum_per_date_dict[date]
        countt = tweet_count_per_date_dict[date]
        tweet_comp_mean_per_date_dict[date] = summ/countt

tweet_comp_mean_per_date_dict

{'1-Feb': 0.21399999999999997,
 '1-Jan': 0.021824999999999983,
 '1-Jun': 0.0,
 '1-Mar': 0.2101375,
 '10-Feb': -0.02895000000000001,
 '10-Jan': -0.047661538461538464,
 '10-Jun': 0.3477799999999999,
 '10-Mar': 0.21806,
 '11-Feb': 0.32171249999999996,
 '11-Jan': -0.17231000000000002,
 '11-Jun': -0.08616999999999997,
 '11-Mar': 0.3348,
 '11-May': -0.09169666666666669,
 '12-Feb': 0.02037499999999999,
 '12-Jan': 0.09281428571428572,
 '12-Jun': 0.1336,
 '12-Mar': 0.11818571428571431,
 '12-May': -0.14582631578947364,
 '13-Feb': -0.2856666666666667,
 '13-Jan': 0.09992500000000001,
 '13-Jun': -0.0889,
 '13-Mar': -0.20801428571428576,
 '13-May': -0.16074166666666667,
 '14-Apr': 0.03459480519480521,
 '14-Jan': 0.18224,
 '14-Jun': -0.03223076923076923,
 '14-Mar': 0.09764999999999999,
 '14-May': 0.22918571428571421,
 '15-Jun': -0.5983,
 '16-Feb': 0.3269555555555557,
 '16-Jun': -0.14536999999999997,
 '17-Feb': 0.04666666666666665,
 '17-Jan': 0.056637499999999966,
 '17-Jul': 0.4939,
 '17-Jun': 0.2387888888888889,
 '18-Feb': -0.1070666666666667,
 '18-Jan': -0.2065999999999999,
 '18-Jun': -0.04892222222222221,
 '18-May': -0.3817909090909092,
 '19-Feb': -0.41895000000000004,
 '19-Jan': 0.29952000000000006,
 '19-Jun': -0.08393333333333337,
 '19-May': 0.13657272727272726,
 '2-Feb': 0.178975,
 '2-Jan': 0.02364285714285716,
 '2-Jun': 0.025400000000000006,
 '2-Mar': -0.003921428571428547,
 '20-Feb': 0.21022,
 '20-Jan': -0.155475,
 '20-Jun': -0.023915384615384633,
 '20-May': 0.36402999999999996,
 '21-Feb': 0.018500000000000006,
 '21-Jan': 0.20733000000000007,
 '21-Jun': 0.1582,
 '21-May': -0.03395000000000001,
 '22-Feb': -0.09491999999999998,
 '22-Jan': 0.05628620689655175,
 '22-Jun': -0.11015789473684211,
 '22-May': -0.12587692307692305,
 '23-Feb': -0.26959999999999995,
 '23-Jan': -0.052058333333333345,
 '23-Jun': 0.16973076923076913,
 '23-May': -0.03453333333333333,
 '24-Feb': 0.14006666666666664,
 '24-Jan': 0.25522500000000004,
 '24-Jun': -0.11006666666666666,
 '24-May': 0.07022000000000002,
 '25-Feb': -0.0813,
 '25-Jan': -0.09616666666666666,
 '25-Jun': 0.19436249999999994,
 '25-May': 0.13047000000000003,
 '26-Feb': 0.22460000000000005,
 '26-Jan': 0.1586,
 '26-Jun': 0.17227,
 '26-May': -0.022889999999999976,
 '27-Feb': 0.24134,
 '27-Jan': 0.2876909090909091,
 '27-Jun': 0.26401428571428565,
 '27-Mar': 0.04348252427184472,
 '27-May': 0.01144545454545454,
 '28-Apr': -0.09958928571428571,
 '28-Feb': 0.05013333333333333,
 '28-Jan': -0.0625,
 '28-Jun': 0.1901363636363636,
 '28-Mar': 0.09918275862068958,
 '28-May': 0.05563999999999998,
 '29-Apr': -0.10451333333333336,
 '29-Jun': -0.19490000000000002,
 '29-Mar': 0.05841666666666669,
 '29-May': 0.15400000000000003,
 '3-Feb': 0.0035499999999999976,
 '3-Jan': -0.04270625000000001,
 '3-Jun': 0.027316666666666656,
 '3-Mar': 0.353325,
 '31-Dec': -0.081725,
 '31-Jan': -0.16579999999999998,
 '4-Feb': 0.6908,
 '4-Jan': 0.09128888888888888,
 '4-Jun': -0.22000000000000003,
 '4-Mar': 0.14445555555555553,
 '5-Feb': 0.10968571428571432,
 '5-Jan': 0.0006999999999999923,
 '5-Jun': -0.08609999999999998,
 '5-Mar': 0.06756000000000002,
 '6-Feb': -0.1779,
 '6-Jan': -0.44356666666666666,
 '6-Jun': 0.011466666666666667,
 '6-Mar': 0.0036999999999999997,
 '7-Feb': 0.03701666666666666,
 '7-Jan': 0.0231875,
 '7-Jun': -0.14740000000000003,
 '7-Mar': -0.04121111111111113,
 '8-Feb': -0.22414666666666672,
 '8-Jan': 0.1396,
 '8-Jun': -0.23005,
 '8-Mar': 0.16838333333333336,
 '9-Feb': -0.03438000000000002,
 '9-Jan': -0.2006142857142858,
 '9-Jun': -0.1331857142857143,
 '9-Mar': 0.034600000000000006}

In [120]:
overall_df = pd.DataFrame(list(tweet_comp_mean_per_date_dict.items()), 
                          columns=['Date', 'Mean Compound Score'])

In [121]:
overall_df.to_csv('final-tweet-analysis.csv', index=False)

In [122]:
!ls

Untitled.ipynb                      tweet-data
final-tweet-analysis.csv            tweets.csv
get-tweets-from-html-files.ipynb    tweets1.csv
sentiment-analysis-tweet-data.ipynb tweets_data.csv

In [123]:
!cat final-tweet-analysis.csv

Date,Mean Compound Score
14-Apr,0.03459480519480521
17-Jul,0.4939
29-Apr,-0.10451333333333336
28-Apr,-0.09958928571428571
13-Feb,-0.2856666666666667
12-Feb,0.02037499999999999
11-Feb,0.32171249999999996
10-Feb,-0.02895000000000001
9-Feb,-0.03438000000000002
8-Feb,-0.22414666666666672
7-Feb,0.03701666666666666
6-Feb,-0.1779
5-Feb,0.10968571428571432
4-Feb,0.6908
3-Feb,0.0035499999999999976
2-Feb,0.178975
1-Feb,0.21399999999999997
31-Jan,-0.16579999999999998
27-Feb,0.24134
26-Feb,0.22460000000000005
25-Feb,-0.0813
24-Feb,0.14006666666666664
23-Feb,-0.26959999999999995
22-Feb,-0.09491999999999998
21-Feb,0.018500000000000006
20-Feb,0.21022
19-Feb,-0.41895000000000004
18-Feb,-0.1070666666666667
17-Feb,0.04666666666666665
16-Feb,0.3269555555555557
14-Jan,0.18224
13-Jan,0.09992500000000001
12-Jan,0.09281428571428572
11-Jan,-0.17231000000000002
10-Jan,-0.047661538461538464
9-Jan,-0.2006142857142858
8-Jan,0.1396
7-Jan,0.0231875
6-Jan,-0.44356666666666666
5-Jan,0.0006999999999999923
4-Jan,0.09128888888888888
3-Jan,-0.04270625000000001
2-Jan,0.02364285714285716
1-Jan,0.021824999999999983
31-Dec,-0.081725
28-Jan,-0.0625
27-Jan,0.2876909090909091
26-Jan,0.1586
25-Jan,-0.09616666666666666
24-Jan,0.25522500000000004
23-Jan,-0.052058333333333345
22-Jan,0.05628620689655175
21-Jan,0.20733000000000007
20-Jan,-0.155475
19-Jan,0.29952000000000006
18-Jan,-0.2065999999999999
17-Jan,0.056637499999999966
13-Jun,-0.0889
14-Jun,-0.03223076923076923
12-Jun,0.1336
11-Jun,-0.08616999999999997
10-Jun,0.3477799999999999
9-Jun,-0.1331857142857143
8-Jun,-0.23005
7-Jun,-0.14740000000000003
6-Jun,0.011466666666666667
5-Jun,-0.08609999999999998
4-Jun,-0.22000000000000003
3-Jun,0.027316666666666656
2-Jun,0.025400000000000006
1-Jun,0.0
29-Jun,-0.19490000000000002
28-Jun,0.1901363636363636
27-Jun,0.26401428571428565
26-Jun,0.17227
25-Jun,0.19436249999999994
24-Jun,-0.11006666666666666
23-Jun,0.16973076923076913
22-Jun,-0.11015789473684211
21-Jun,0.1582
20-Jun,-0.023915384615384633
19-Jun,-0.08393333333333337
18-Jun,-0.04892222222222221
17-Jun,0.2387888888888889
16-Jun,-0.14536999999999997
15-Jun,-0.5983
14-Mar,0.09764999999999999
13-Mar,-0.20801428571428576
12-Mar,0.11818571428571431
11-Mar,0.3348
10-Mar,0.21806
9-Mar,0.034600000000000006
8-Mar,0.16838333333333336
7-Mar,-0.04121111111111113
6-Mar,0.0036999999999999997
5-Mar,0.06756000000000002
4-Mar,0.14445555555555553
3-Mar,0.353325
2-Mar,-0.003921428571428547
1-Mar,0.2101375
28-Feb,0.05013333333333333
29-Mar,0.05841666666666669
28-Mar,0.09918275862068958
27-Mar,0.04348252427184472
14-May,0.22918571428571421
13-May,-0.16074166666666667
12-May,-0.14582631578947364
11-May,-0.09169666666666669
29-May,0.15400000000000003
28-May,0.05563999999999998
27-May,0.01144545454545454
26-May,-0.022889999999999976
25-May,0.13047000000000003
24-May,0.07022000000000002
23-May,-0.03453333333333333
22-May,-0.12587692307692305
21-May,-0.03395000000000001
20-May,0.36402999999999996
19-May,0.13657272727272726
18-May,-0.3817909090909092

In [30]:
# # Open each of the samples
# with open("tweets1.csv") as tweet_results:
#     tweet_results = tweet_results.read()

In [ ]:
# for x in tweet_results:
#     compound = analyzer.polarity_scores(x)["compound"]
#     pos = analyzer.polarity_scores(x)["pos"]
#     neu = analyzer.polarity_scores(x)["neu"]
#     neg = analyzer.polarity_scores(x)["neg"]
# print(x)
# print(f"Compound Score: {compound}")
# print(f"Positive Score: {pos}")
# print(f"Neutral Score: {neu}")
# print(f"Negative Score: {neg}")